<section class="introduction-section" id="introduction">
    <div class="experience-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/contour-lines.svg" alt="">
        </div>
        <div class="experience-card">
            <div class="experience-header">
                <h1 typingEffect="Catagories" [delayTime]="500">Catagories</h1>
            </div>
            <div class="content-container">
                <div class="catagory-card">
                    <div class="card-header">
                        Catagory 1
                    </div>
                    <div class="card-img">
                        <img
                        src="assets/icons/team.svg"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>