<section class="services-section" id="services">
    <div  class="wavy-container top-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,128C480,107,600,53,720,32C840,11,960,21,1080,69.3C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
    <div  class="wavy-container bottom-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,128C480,107,600,53,720,32C840,11,960,21,1080,69.3C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
    <div class="projects-container" toggleInViewClass>
        <div class="bg-img-container" toggleInViewClass>
            <img src="assets/icons/lines.svg" alt="">
            <img src="assets/icons/lines.svg" alt="">
        </div>
        <div class="projects-card">
            <div class="project-header">
                <h1 typingEffect="SERVICES" [delayTime]="500">Services</h1>
            </div>
            <div class="content-container">
                <app-project-card *ngFor="let project of projects"
                [heading]="project.heading"
                [description]="project.description"
                [bulletPoints]="project.bulletPoints"
                >    
                </app-project-card>
            </div>
        </div>
    </div>
</section>