<div class="form-container">
  <ss-form-builder2
    [formDefinition]="formDefinition"
    [loading]="false"
  ></ss-form-builder2>

  <label>Cover Image:</label>
  <br>
  <div class="img-preview" *ngIf="coverImage">
    <img [src]="baseImgUrl + '/' + coverImage.url" alt="Cover Image">
    <button class="remove-img" (click)="coverImage = null; filterImages()"><i class="bi bi-trash"></i></button>
  </div>
  <ss-data-grid
    [manager]="coverImageGridManager"
    [topBarActive]="false"
    (controlTrigger)="onCoverImageSelected($event)"
  ></ss-data-grid>

  <label>Assigned Products:</label>
  <div class="assigned-products">
    <div *ngFor="let product of assignedProducts" class="product-item">
      <p>{{ product.name }}</p>
      <button (click)="removeAssignedProduct(product)"><i class="bi bi-trash"></i></button>
    </div>
  </div>
  <ss-data-grid
    [manager]="productGridManager"
    [topBarActive]="false"
    (controlTrigger)="onProductSelected($event)"
  ></ss-data-grid>

  <button
    *ngIf="formController.isFormValid()"
    actionButton
    [state]="btnState"
    class="ss-btn-success w-100"
    (click)="onSave()"
  >
    {{ btnText }}
  </button>
</div>