<div class="header-body">
    <div class="main-navigation">
        <div class="main-nav-bar">
            <a class="nav-item" href="#introduction">
                Introduction
            </a>
            <a class="nav-item" href="#action-map">
                Action Map
            </a>
            <a class="nav-item" href="#services">
                Services
            </a>
            <a class="nav-item" href="#why-us">
                Why Choose Us
            </a>
            <button class="sidebar-btn" (click)="toggleSidebar()">
                    <i class="icon bi bi-list ss-fs-5"></i>
                </button>
        </div>
    </div>
</div>