<div class="form-container">

    <ng-container *ngIf="!imageFilePreview; else addImg">
        <!-- <img style="max-height: 200px;" [src]="imageHost + imagePreview" alt=""> -->
        <div>
            <app-performance-image
            class="image-box"
            [src]="baseImageUrl + '/' + imagePreview"
            [useSkeleton]="true"
            [fullImage]="true"
            ></app-performance-image>
        </div>
    </ng-container>
    <ng-template #addImg>
        <ng-container *ngIf="!imageFilePreview; else filePreview">
            no image selected yet
        </ng-container>
        <ng-template #filePreview>
            <img style="max-height: 200px;" [src]="imageFilePreview" alt="">
        </ng-template>
    </ng-template>

    <div>
        <button mat-raised-button class="dark-btn w-full" type="button" (click)="filepicker.click()">Select Image</button>
        <input type="file" #filepicker style="visibility: hidden;" (change)="onImagePicked($event)">
    </div>

    <br><br>

    <ss-form-builder2
    [formDefinition]="formDefinition"
    [loading]="(imagesService.imageLoading$ | async) || false"
    [loadingObservable]="imagesService.imageLoading$"
    ></ss-form-builder2>
    
    <button
    *ngIf="!(imagesService.singleUpdateLoading$ | async) && formController.isFormValid() || false" actionButton
    [state]="(imagesService.createUpdateErr$ | async) ? btnError : btnState " 
    class="ss-btn-success w-100"
    (click)="onSave()"
    >
    Save
    </button>
</div>