.ss-input-multiselect-container {
    display: flex;
}

.input-wrapper {
    flex-grow: 1;

    & .ss-form-control {
        border-right-color: transparent !important;
    }

    border-radius: 8px 0px 0px 8px;
}

.btn-toggle-select {
    margin: 0;
    border-radius: 0px 7px 7px 0px;
}

.select-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-control-area {
    background-color: var(--from-control-background-color);
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom:  5px;
}

.select-area-container {
    max-height: 50vh;
    background-color: var(--from-control-background-color);
    border-radius: 8px;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 5px;
}

.select-item-container {
    box-sizing: border-box;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 8px;
    transition: background-color 0.15s ease;
    cursor: pointer;

    display: flex;
}

.select-item-container:hover {
    background-color: var(--accent-light-backround-color);
}

.select-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.round-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.block-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.select-text-container {
    flex-grow: 1;

    margin-left: 15px;

    & label {
        overflow-wrap: anywhere;
    }
}

.select-marker-container{
    height: 100%;
    padding: 5px;
}

.select-item-seperator {
    height: 1px;
    background-color: var(--grid-row-border-color);
    border: none;
}

.select-item-active {
    background-color: var(--accent-light-backround-color);
}