<div class="form-control-container">
    <div class="ss-input-multiselect-container">
        <div class="input-wrapper"
             (click)="toggleSelect()"
             [ngClass]="{'ss-form-control-valid': isValid() === true && !(loading | async), 'ss-form-control-invalid': isValid() === false && !(loading | async), 'ss-form-control-loading': (loading | async)}">
            <ng-container *ngIf="showChips">
                <ss-chip-list [chips]="this.value"
                              [displayField]="getChipDisplayField()"></ss-chip-list>
            </ng-container>
            <ng-container *ngIf="!showChips">
                <div class="select-info-container">
                    <p class="m-0">{{getInfoText()}}</p>
                </div>
            </ng-container>
        </div>
        <button [disabled]="disabled || (loading | async)"
                class="ss-btn-primary btn-toggle-select"
                (click)="toggleSelect()"><i class="bi bi-chevron-down"></i></button>
    </div>

    <div @expand
         *ngIf="isOpen && searchEnabled && headerField"
         class="search-control-area"
         [ngClass]="{'ss-form-control-valid': isValid() === true, 'ss-form-control-invalid': isValid() === false}">
        <label>Search</label>
        <ss-input-search (valueChange)="onSearchChange($event)"></ss-input-search>
    </div>

    <div @expand
         *ngIf="isOpen"
         class="select-area-container ss-form-control"
         [ngClass]="{'ss-form-control-valid': isValid() === true, 'ss-form-control-invalid': isValid() === false}">
        <ng-container *ngFor="let selectItem of datasetToShow">
            <div class="select-item-container"
                 (click)="onItemSelected(selectItem)"
                 [ngClass]="{'select-item-active': isSelectedItem(selectItem)}">
                <div *ngIf="imageField"
                     class="select-item-image-container">
                    <img [ngClass]="roundImage ? 'round-image':'block-image'"
                         [src]="selectItem[imageField]">
                </div>
                <div class="select-text-container">
                    <ng-container *ngIf="headerField">
                        <label class="ss-fs-5">{{getFieldValue(headerField, selectItem)}}</label>
                    </ng-container>

                    <ng-container *ngIf="subFields">
                        <ng-container *ngFor="let field of subFields">
                            <label style="display: block;"
                                   class="ss-fs-xsm px-3">{{getFieldValue(field,
                                selectItem)}}</label>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="select-marker-container ss-fs-5">
                    <ng-container *ngIf="isSelectedItem(selectItem)"><i class="bi bi-check2-circle"></i></ng-container>
                    <ng-container *ngIf="!isSelectedItem(selectItem)"><i class="bi bi-app"></i></ng-container>
                </div>
            </div>
            <hr class="select-item-seperator">
        </ng-container>
        <ng-container *ngIf="datasetToShow && datasetToShow.length === 0">
            <p class="text-center"><i class="bi bi-search"></i> Nothing found</p>
        </ng-container>
        <ng-container *ngIf="!datasetToShow">
            <p class="text-center"><i class="bi bi-search"></i> No data</p>
        </ng-container>
        <ng-container *ngIf="max!==-1">
            <p class="ss-fs-xsm ss-fw-light">Max: {{max}}</p>
        </ng-container>
    </div>
</div>