@mixin ss-btn-base {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    //box-shadow: 0 0 4px rgb(59, 59, 59);
    outline: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 40px;
    min-width: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 700;

    &:after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: rgba(83, 83, 83, 0.3);

        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;

        /* Center the ripple */
        top: 50%;
        left: 50%;

        animation: ripple 1.5s;
        opacity: 0;
    }

    &:focus:not(:active)::after {
        display: block;
    }

    & i{
        margin-right: 4px;
        margin-left: 4px;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

.ss-btn {
    @include ss-btn-base();
}

.ss-btn-sm {
    @include ss-btn-base();
    padding: 2px;
    min-height: 25px !important;
}

.ss-btn-lg {
    @include ss-btn-base();
    padding: 10px !important;
}

.ss-btn-transparent {
    @include ss-btn-base();
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color);
    border: 1px solid var(--muted-color-3);
}

.ss-btn-primary {
    @include ss-btn-base();
    background-color: var(--primary);
    color: white;
}

.ss-btn-primary:disabled {
    @include ss-btn-base();
    background-color: var(--primary-disabled);
    cursor: not-allowed;
}

.ss-btn-secondary {
    @include ss-btn-base();
    background-color: var(--secondary);
    color: white;
}

.ss-btn-secondary:disabled {
    @include ss-btn-base();
    background-color: var(--secondary-disabled);
    cursor: not-allowed;
}

.ss-btn-danger {
    @include ss-btn-base();
    background-color: var(--danger);
    color: white;
}

.ss-btn-danger:disabled {
    @include ss-btn-base();
    background-color: var(--danger-disabled);
    cursor: not-allowed;
}

.ss-btn-success {
    @include ss-btn-base();
    background-color: var(--success);
    color: white;
}

.ss-btn-success:disabled {
    @include ss-btn-base();
    background-color: var(--success-disabled);
    cursor: not-allowed;
}

.ss-btn-warning {
    @include ss-btn-base();
    background-color: var(--warning);
    color: rgb(42, 42, 42);
}

.ss-btn-warning:disabled {
    @include ss-btn-base();
    background-color: var(--warning-disabled);
    cursor: not-allowed;
}

.ss-btn-white {
    @include ss-btn-base();
    background-color: white;
    color: black;
}

.ss-btn-white:disabled {
    @include ss-btn-base();
    background-color: rgb(167, 167, 167);
    cursor: not-allowed;
}

.ss-btn-black {
    @include ss-btn-base();
    background-color: rgb(3, 3, 3);
    color: white;
}

.ss-btn-black:disabled {
    @include ss-btn-base();
    background-color: rgb(42, 42, 42);
    cursor: not-allowed;
}

.ss-btn-accent-light {
    @include ss-btn-base();
    background-color: var(--accent-light-backround-color);
    color: black;
}

.ss-btn-accent-dark {
    @include ss-btn-base();
    background-color: var(--accent-dark-backround-color);
    color: black;
}