.grid-container {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    // min-width: 400px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.grid-controls-container {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    min-height: 80px;
}

.grid-controls {
    background-color: var(--grid-background-color);
    min-height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--grid-row-border-color);
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

.grid-controls-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.grid-controls-center {
    display: flex;
    align-items: center;
}

.grid-controls-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.grid-head-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    white-space: nowrap;
}

.grid-body-container {
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--grid-row-border-color);
    overflow: auto;
    box-sizing: border-box;
}

.grid-body {
    //background-color: var(--grid-background-color);
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    // margin-left: 10px;
    // margin-right: 10px;
    // border-radius: 10px 10px 0px 0px;
    // border: 1px solid var(--grid-row-border-color);
}

table {
    min-width: 100%;
    border-collapse: collapse;
    background-color: var(--grid-background-color);
}

th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;

    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;

    height: 80px;

    background-color: var(--grid-head-background-color);
}

th:first-child {
    min-width: 0;
}

th:not(:first-child) {
    min-width: 100px;
}

td {
    padding-left: 7px;
    padding-right: 7px;
}

tr {
    border-bottom: 1px solid var(--grid-row-border-color);
}

.grid-col-data-container {
    min-height: 48px;
    max-height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.grid-col-controls-container {
    min-height: 48px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid-footer {
    background-color: var(--grid-background-color);
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid var(--grid-row-border-color);
}

//Loading

.grid-load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-load-spinner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #656f7a91;
    border-top: 2px solid var(--text-color);
    animation: spin 1.8s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.grid-load-img {
    position: relative;
    z-index: 1;
    height: 75px;
}

.grid-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.grid-error-img {
    position: relative;
    z-index: 1;
    height: 150px;
}

//No data

.grid-no-data-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

//Grid Settings
.grid-settings-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.grid-settings-menu-item {
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grid-row-border-color);
}

//Here we hide the words in grid control top if screen is small
@media screen and (max-width: 500px) {
    button span {
        display: none;
    }
}