<section class="tech-section" id="technologies">
    <div class="tech-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/paper-texture.svg" alt="">
        </div>
        <div class="tech-card">
            <div class="tech-header">
                <h1 typingEffect="Technologies" [delayTime]="500">Technologies</h1>
                <p>This section outlines the technologies I am proficient in and regularly use in my projects. Each technology has been instrumental in developing efficient, robust, and scalable solutions.</p>
            </div>
            <div class="content-container">
                <div class="tech-content">
                    <div class="technology-category">
                        <h3>Frontend Development</h3>
                        <ul>
                            <li><img src="assets/icons/angular.svg" alt="Angular">Angular</li>
                            <li><img src="assets/icons/typescript.svg" alt="TypeScript">TypeScript</li>
                            <li><img src="assets/icons/javascript.svg" alt="JavaScript">JavaScript (ES6+)</li>
                            <li><img src="assets/icons/html.svg" alt="HTML">HTML5</li>
                            <li><img src="assets/icons/css.svg" alt="CSS">CSS3</li>
                            <li><img src="assets/icons/scss.svg" alt="SCSS">SCSS</li>
                            <li><img src="assets/icons/react.svg" alt="React">React</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>Backend Development</h3>
                        <ul>
                            <li><img src="assets/icons/nodejs.svg" alt="Node.js">Node.js</li>
                            <li><img src="assets/icons/express.svg" alt="Express.js">Express</li>
                            <li><img src="assets/icons/python.svg" alt="Python">Python</li>
                            <li><img src="assets/icons/firebase.svg" alt="Firebase">Firebase</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>Databases</h3>
                        <ul>
                            <li><img src="assets/icons/mongodb.svg" alt="MongoDB">MongoDB</li>
                            <li><img src="assets/icons/redis.svg" alt="Redis">Redis</li>
                            <li><img src="assets/icons/influxdb.svg" alt="InfluxDB">InfluxDB</li>
                            <li><img src="assets/icons/couchdb.svg" alt="CouchDB">CouchDB</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>DevOps and Deployment</h3>
                        <ul>
                            <li><img src="assets/icons/docker.svg" alt="Docker">Docker</li>
                            <li><img src="assets/icons/kafka.svg" alt="RabbitMQ">Kafka</li>
                            <li><img src="assets/icons/rabbitmq.svg" alt="RabbitMQ">RabbitMQ</li>
                            <li><img src="assets/icons/nginx.svg" alt="NGINX">NGINX</li>
                            <li><img src="assets/icons/cloudflare.svg" alt="Cloudflare">Cloudflare</li>
                            <li><img src="assets/icons/ansible.svg" alt="Ansible">Ansible</li>
                            <li><img src="assets/icons/pm2.svg" alt="Ansible">PM2</li>
                        </ul>
                    </div>
                    <div class="technology-category">
                        <h3>Tools and Others</h3>
                        <ul>
                            <li><img src="assets/icons/git.svg" alt="Git">Git</li>
                            <li><img src="assets/icons/stripe.svg" alt="Stripe">Stripe API</li>
                            <li><img src="assets/icons/socketdotio.svg" alt="Socket.IO">Socket.IO</li>
                            <li><img src="assets/icons/grafana.svg" alt="Grafana">Grafana</li>
                            <li><img src="assets/icons/postman.svg" alt="Postman">Postman</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>