<div class="form-control-container">
    <ng-container *ngIf="ngControl && ngControl.control; else standaloneInput">
        <input class="cbx" type="checkbox" style="display:none" [(ngModel)]="value" [ngModel]="value"
            (ngModelChange)="valueChange.emit($event)"
            [ngClass]="{'ss-form-control-loading': (loading | async)}"
            [disabled]="(loading | async) || disabled"
            />
        <label class="toggle" (click)="toggleCheckbox()">
            <span></span>
        </label>
    </ng-container>
    <ng-template #standaloneInput>
        <input class="cbx" type="checkbox" style="display:none" [(ngModel)]="value"
            (ngModelChange)="valueChange.emit($event)" (change)="valueChange.emit(value)"
            [ngClass]="{'ss-form-control-loading': loading}"
            [disabled]="(loading | async) || disabled"
            />
        <label class="toggle" (click)="toggleCheckbox()">
            <span></span>
        </label>
    </ng-template>
</div>