.upload-area-container {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 35px;
    text-align: center;
    background-color: var(--theme-content-color);
    margin-bottom: 5px;
    cursor: pointer;

}

.upload-area-container.dragover {
    border: 2px dashed var(--primary);
    background-color: rgba(128, 128, 128, 0.3);
}

.upload-item {
    border: 2px #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--theme-content-color);
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success-btn {
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: var(--success);
    background-color: transparent;
    background-color: rgba(128, 128, 128, 0.2);
}

.cancel-btn {
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: var(--danger);
    background-color: transparent;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}