<div class="form-container">

    <!-- <ss-form-builder2
    [formDefinition]="formDefinition"
    [loading]="(productsService.currentProductLoading$ | async) || false"
    [loadingObservable]="productsService.currentProductLoading$"
    ></ss-form-builder2> -->

    <!-- <ss-input-text
    [(value)]="currentName"
    >
    </ss-input-text>

    <ss-input-number
    [(value)]="currentStock"
    >
    </ss-input-number> -->

    <ss-input-text
    [(value)]="currentName"
    ></ss-input-text>

    <ss-input-number
    [(value)]="currentStock"
    ></ss-input-number>

    <button
    *ngIf="true || false" actionButton
    [state]="btnState " 
    class="ss-btn-success w-100"
    (click)="onSaveVariation()"
    >
    Add Variation
    </button>

</div>