<section class="introduction-section" id="introduction">
    <div class="experience-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/contour-lines.svg" alt="">
        </div>
        <div class="experience-card">
            <div class="experience-header">
                <h1 typingEffect="Categories" [delayTime]="500">Categories</h1>
            </div>
            <div class="content-container">
                <div class="top-list">
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                </div>
                <div class="bottom-list">
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                    <div class="category-card">
                        <div class="card-header">
                            Category 1
                        </div>
                        <div class="card-img">
                            <img
                            src="assets/icons/team.svg"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>