.introduction-section {
    padding-top: 110px;
    margin-bottom: 150px;
}

.experience-container {
    display: flex;
    justify-content: center;
    position: relative;
    background: var(--primary-gradient);
}

.bg-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    filter: var(--invert-on-light);
    z-index: 0;
    overflow: hidden;
}

.bg-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience-card {
    max-width: 1200px;
    width: 100%;
    z-index: 1;
    padding: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.experience-content {
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 10px;
}

.isInView .bg-img-container {
    opacity: var(--secondary-graphic-opacity);
}

.category-card {
    height: 200px;
    background-color: rgb(246, 242, 248);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: var(--hover-box-shadow);
    }
}

.card-header {
    height: 20%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card-img {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.top-list,.bottom-list {
    display: flex;
    justify-content: space-between;
}

/* Responsive Design */
@media (max-width: 768px) {
    .category-card {
        height: 180px;
        padding: 15px;
    }

    .card-header {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .category-card {
        height: 150px;
        padding: 10px;
    }

    .card-header {
        font-size: 0.8rem;
    }
}