<section class="introduction-section" id="introduction">
    <div class="experience-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/contour-lines.svg" alt="">
        </div>
        <div class="experience-card">
            <div class="experience-header">
                <h1 typingEffect="Categories" [delayTime]="500">Categories</h1>
            </div>
            <div class="content-container">
                <ng-container *ngFor="let category of categoriesService.allCategories$ | async">
                    <div class="category-card" (click)="categoriesService.navigateToCategoryProducts(category._id)">
                        <div class="card-header">
                            {{category.name}}
                        </div>
                        <div class="card-img">
                            <img
                            [src]="baseImgUrl + '/' + category.coverImage?.url"
                            >
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>