.input-wrapper {
    position: relative;
}

.form-control-clear-button {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 50%);
}

.form-control-clear-button:hover{
    color: var(--danger);
}