<ng-container *ngIf="product">
  <button class="wrapper" (click)="productClicked(product)">
      <div class="container">
        <div class="top" [style.background-image]="'url(' + baseImgUrl + '/' + product.images[0]?.url + ')'"></div>
        <div class="bottom">
          <div class="left">
            <div class="details">
              <h1>{{ product.name }}</h1>
              <p>R{{ product.price }}</p>
            </div>
            <div class="buy" (click)="$event.stopPropagation(); addToCart(product)">
              <i class="bi bi-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </button>
</ng-container>