.progress-bar-container {
    width: 100%;
    background-color: var(--slider-track-color);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 8px;
    background-color: var(--primary);
    width: 0;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
}