<div class="menu-container-wrapper disable-select">
    <div class="menu-container">

        <div class="menu-card" (click)="onFunctionSelected('products')" @fadeScale>
            <div class="image-box">
                <app-performance-image
                class="menu-card-img"
                src="assets/illustrations/products"
                [useSkeleton]="true"
                ></app-performance-image>
            </div>
            <p class="func-name">Products</p>
        </div>

        <div class="menu-card" (click)="onFunctionSelected('catagories')" @fadeScale>
            <div class="image-box">
                <app-performance-image
                class="menu-card-img"
                [src]="'assets/illustrations/catagories'"
                [useSkeleton]="true"
                ></app-performance-image>
            </div>
            <p class="func-name">Catagories</p>
        </div>

        <div class="menu-card" (click)="onFunctionSelected('orders')" @fadeScale>
            <div class="image-box">
                <app-performance-image
                class="menu-card-img"
                [src]="'assets/illustrations/orders'"
                [useSkeleton]="true"
                ></app-performance-image>
            </div>
            <p class="func-name">Orders</p>
        </div>

        <div class="menu-card" (click)="onFunctionSelected('warehouses')" @fadeScale>
            <div class="image-box">
                <app-performance-image
                class="menu-card-img"
                [src]="'assets/illustrations/warehouses'"
                [useSkeleton]="true"
                ></app-performance-image>
            </div>
            <p class="func-name">Warehouses</p>
        </div>

    </div>
</div>