<section class="introduction-section" id="introduction">
    <div class="experience-container" toggleInViewClass>
        <div class="bg-img-container">
            <img src="assets/icons/contour-lines.svg" alt="">
        </div>
        <div class="experience-card">
            <div class="experience-header">
                <h1 typingEffect="Welcome to Expeli Web" [delayTime]="500">Welcome to Expeli Web</h1>
            </div>
            <div class="content-container">
                <div class="experience-content">
                    <p>At Expeli Web, we transform your digital vision into reality by crafting innovative and scalable software solutions that run seamlessly on the web. Whether you need a stunning website, a robust web application, or an end-to-end digital platform, our expert team is dedicated to delivering cutting-edge technology that elevates your business.</p>
                    <p>With a strong focus on user experience, performance, and security, we specialize in building custom solutions that are tailored to your unique needs. Our holistic approach ensures that every project we undertake is not only visually appealing but also optimized for functionality and growth.</p>
                    <p>From startups to enterprises, we empower businesses to thrive in the digital age with technology that drives results. Partner with Expeli Web and experience the perfect blend of creativity, technical expertise, and strategic insight that propels your brand forward.</p>
                    <p>Explore our services and let’s start building something extraordinary together.</p>
                </div>
            </div>
        </div>
    </div>
</section>