<div class="main-form-container my-3">

    <ss-form-builder2
    [formDefinition]="formDefinition"
    [loading]="(productsService.currentProductLoading$ | async) || false"
    [loadingObservable]="productsService.currentProductLoading$"
    ></ss-form-builder2>

    <label>Images:</label>

    <div class="img-list-container">

        <div *ngFor="let img of currentImages">

            <div class="img-cotainer">
                <img src="{{baseImgUrl + '/' + img.url}}" alt="">
                <button class="remove-item" (click)="removeImg(img)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>

        </div>

    </div>

    <div>

        <ss-data-grid
        [manager]="gridManager"
        [loading]="(imagesService.imagesLoading$ | async) || false"
        [error]="(imagesService.imagesError$ | async) || false"
        [errorText]="errorMessage"
        [topBarActive]="false"
        (controlTrigger)="addImg($event)"
        >
        </ss-data-grid>

    </div>

    <label>Variations:</label>

    <div class="variations-container">
        <div class="variation-item" *ngFor="let variation of productVariations; let i = index">
            <div class="variation-preview">
                <div class="variation-image">
                    <img *ngIf="variation.images && variation.images.length > 0" [src]="baseImgUrl + '/' + variation.images[0].url" alt="Variation Image">
                    <img *ngIf="!variation.images?.length" src="assets/placeholder.png" alt="No Image Available">
                </div>
                <div class="variation-name">
                    <p>{{ variation.name }}</p>
                </div>
                <button class="remove-item" (click)="removeVariation(i)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
        <button class="add-variation-btn variation-item" (click)="addVariation()">
            Add Variation
        </button>
    </div>
    
    <!-- <ng-container *ngIf="variationFormOpen"> -->
        <ss-dialog [isOpen]="variationFormOpen" (exitCross)="onCancelVariation()" [hasExitCross]="true" width="90dvw" height="80dvh">

            <ng-container *ngIf="variationFormOpen">

                <div class="variation-form-container">
        
                    <app-variation-form (addVariation)="onSaveVariation($event)" [productVariations]="productVariations"></app-variation-form>
        
                </div>

            </ng-container>
        </ss-dialog>
    <!-- </ng-container> -->
    
    <br><br>

    <button
    *ngIf="!(productsService.singleUpdateLoading$ | async) && formController.isFormValid() || false" actionButton
    [state]="(productsService.createUpdateErr$ | async) ? btnError : btnState " 
    class="ss-btn-success w-100"
    (click)="onSave()"
    >
    Save
    </button>


</div>