<ng-container *ngIf="!userVirtualKeyboard; else withVirtualKeyboard">
    <div class="form-control-container">
        <!-- <div *ngIf="loading" class="loading-input"> -->
            <!-- <ss-skeleton-loader></ss-skeleton-loader> -->
        <!-- </div> -->
        <!-- <div *ngIf="!loading"> -->
            <input [ngClass]="{'ss-form-control-valid': (isValid() && !(loading | async)), 'ss-form-control-invalid': (!isValid() && !(loading | async)), 'ss-form-control-loading': (loading | async)}" [disabled]="disabled || (loading | async) || false"
            *ngIf="ngControl && ngControl.control; else standaloneInput" [ngModel]="value"
            (ngModelChange)="valueChange.emit($event)" type="text" class="ss-form-control"
            >
            <ng-template #standaloneInput>
                <input [disabled]="disabled || (loading | async) || false" type="text" class="ss-form-control" [(ngModel)]="value"
                    [ngClass]="{'ss-form-control-loading': (loading | async)}"
                    (ngModelChange)="valueChange.emit($event)" (change)="valueChange.emit(value)">
            </ng-template>
        <!-- </div> -->
    
    </div>
</ng-container>
<ng-template #withVirtualKeyboard>
    <div class="form-control-container">
        <!-- <div *ngIf="loading" class="loading-input"> -->
            <!-- <ss-skeleton-loader></ss-skeleton-loader> -->
        <!-- </div> -->
        <!-- <div *ngIf="!loading"> -->
            <input [ngClass]="{'ss-form-control-valid': (isValid() && !(loading | async)), 'ss-form-control-invalid': (!isValid() && !(loading | async)), 'ss-form-control-loading': (loading | async)}" [disabled]="disabled || (loading | async) || false"
            *ngIf="ngControl && ngControl.control; else standaloneInput" [ngModel]="value"
            (ngModelChange)="valueChange.emit($event)" type="text" class="ss-form-control"
            virtualKeyboard
            >
            <ng-template #standaloneInput>
                <input [disabled]="disabled || (loading | async) || false" type="text" class="ss-form-control" [(ngModel)]="value"
                    [ngClass]="{'ss-form-control-loading': (loading | async)}"
                    (ngModelChange)="valueChange.emit($event)" (change)="valueChange.emit(value)"
                    virtualKeyboard
                    >
            </ng-template>
        <!-- </div> -->
    
    </div>
</ng-template>