.ss-bg-primary{
    background-color: var(--primary);
}

.ss-bg-success{
    background-color: var(--success);
}

.ss-bg-secondary{
    background-color: var(--secondary);
}

.ss-bg-warning{
    background-color: var(--warning);
}

.ss-bg-danger{
    background-color: var(--danger);
}

.ss-bg-accent-light{
    background-color: var(--accent-light-backround-color);
}

.ss-bg-accent-dark{
    background-color: var(--accent-dark-backround-color);
}

.ss-bg-morphis-1{

}