<section class="services-section" id="why-us">
    <div  class="wavy-container top-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,128C480,107,600,53,720,32C840,11,960,21,1080,69.3C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
    <div  class="wavy-container bottom-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,128C480,107,600,53,720,32C840,11,960,21,1080,69.3C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
    <div class="projects-container" toggleInViewClass>
        <div class="bg-img-container" toggleInViewClass>
            <img src="assets/icons/paper-texture.svg" alt="">
            <img src="assets/icons/paper-texture.svg" alt="">
        </div>
        <div class="projects-card">
            <div class="project-header">
                <h1 typingEffect="Why Us" [delayTime]="500">Why US</h1>
            </div>
            <div class="content-container">
                <app-show-more-card maxCardHeight="200px">
                    <div class="why-category">
                        <div>
                            <div class="card-header-box">
                                <h3>Direct Communication</h3>
                                <div class="icon-box">
                                    <img src="assets/icons/conversation.svg" alt="conversation">
                                </div>
                            </div>
                            <div class="category-body">
                                <h4>Personalized Service</h4>
                                <p>At Expeli Web, you’ll work directly with me, your website developer. This means no middlemen, no miscommunications – just clear, straightforward dialogue about your project’s vision and goals.</p>
                                <h4>Tailored Solutions</h4>
                                <p>By working closely with you, I can tailor every aspect of the project to meet your specific needs. Your feedback and ideas will be heard and implemented with precision and care.</p>
                            </div>
                        </div>
                    </div>
                </app-show-more-card>

                <app-show-more-card maxCardHeight="200px">
                    <div class="why-category">
                        <div class="card-header-box">
                            <h3>Small Team, Big Impact</h3>
                            <div class="icon-box">
                                <img src="assets/icons/team.svg" alt="conversation">
                            </div>
                        </div>
                        <div class="category-body">
                            <h4>Agile and Responsive</h4>
                            <p>Being a small team allows us to be agile and responsive. We can quickly adapt to changes, make swift decisions, and ensure that your project progresses smoothly without the delays often associated with larger agencies.</p>
                            <h4>Focused Attention</h4>
                            <p>With fewer projects on our plate at any given time, we can devote more attention and energy to your project. Your website isn’t just another task – it’s our priority.</p>
                        </div>
                    </div>
                </app-show-more-card>

                <app-show-more-card maxCardHeight="200px">
                    <div class="why-category">
                        <div class="card-header-box">
                            <h3>Competitive Pricing</h3>
                            <div class="icon-box">
                                <img src="assets/icons/coin.svg" alt="conversation">
                            </div>
                        </div>
                        <div class="category-body">
                            <h4>Value for Money</h4>
                            <p>Because we don’t have the overheads of a large company, we can offer competitive pricing without compromising on quality. You’ll receive top-tier service and results at a fraction of the cost of bigger agencies.</p>
                            <h4>Transparent Costs</h4>
                            <p>We believe in clear, upfront pricing with no hidden fees. You’ll know exactly what you’re paying for and can rest assured that you’re getting excellent value for your investment.</p>
                        </div>
                    </div>
                </app-show-more-card>

                <app-show-more-card maxCardHeight="200px">
                    <div class="why-category">
                        <div class="card-header-box">
                            <h3>Personalized Experience</h3>
                            <div class="icon-box">
                                <img src="assets/icons/personalized.svg" alt="conversation">
                            </div>
                        </div>
                        <div class="category-body">
                            <h4>Understanding Your Business</h4>
                            <p>We take the time to understand your business, your goals, and your audience. This personalized approach ensures that the website we create truly reflects your brand and meets your objectives.</p>
                            <h4>Collaboration at Its Best</h4>
                            <p>Your input is invaluable, and I’m here to collaborate with you every step of the way. Whether it’s brainstorming ideas or making revisions, your voice is at the center of the project.</p>
                        </div>
                    </div>
                </app-show-more-card>

                <app-show-more-card maxCardHeight="200px">
                    <div class="why-category">
                        <div class="card-header-box">
                            <h3>Long-Term Partnership</h3>
                            <div class="icon-box">
                                <img src="assets/icons/businessman-shaking.svg" alt="conversation">
                            </div>
                        </div>
                        <div class="category-body">
                            <h4>Ongoing Support</h4>
                            <p>Our relationship doesn’t end when the website goes live. I’m committed to providing ongoing support, whether you need updates, maintenance, or new features down the road.</p>
                            <h4>Your Success Is Our Success</h4>
                            <p>We measure our success by the success of your business. I’m invested in helping your brand grow and thrive online, and I’ll be there to assist you every step of the way.</p>
                        </div>
                    </div>
                </app-show-more-card>
            </div>
        </div>
    </div>
</section>