<div class="search-page-body">
    <div class="sp-info-section">
        <p>28 results found for "party"</p>
        <div class="sort-filter-section">
            <button class="option-btn">
                Sort
            </button>
            <button class="option-btn">
                Filter
            </button>
        </div>
    </div>
    <div class="results-container">
        <ng-container *ngFor="let option of searchPageService.searchPageItems$ | async">
            <div class="result-box">
                {{option}}
            </div>
        </ng-container>
    </div>
</div>