.search-page-body {
    padding: 10px;
}

.sp-info-section {
    display: flex;
    justify-content: space-between;
}

.sort-filter-section {
    display: flex;
}

.option-btn {
    height: 40px;
    width: 90px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(184, 184, 184, 0.288);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    // font-weight: 400;
    font-size: larger;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result-box {
    padding: 10px;
    margin: 10px;
    height: 180px;
    width: 120px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 5px;
    cursor: pointer;
}