<p>category-products works!</p>

<ng-container *ngIf="!(categoriesService.categoryProductsError$ | async); else error">
    <ng-container *ngIf="!(categoriesService.categoryProductsLoading$ | async); else loading">
        <ng-container *ngFor="let product of (categoriesService.categoryProducts$ | async)">

            <app-product-card [product]="product"></app-product-card>

        </ng-container>
    </ng-container>
</ng-container>

<ng-template #error>
  error
</ng-template>

<ng-template #loading>
  loading
</ng-template>