.form-control-container{
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

.toggle-password-btn{
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    animation: none;
    color: var(--text-color);
}