<ng-container *ngIf="!userVirtualKeyboard; else withVirtualKeyboard">
    <div class="form-control-container">
        <div class="input-wrapper">
            <input [ngClass]="{'ss-form-control-valid': isValid() === true && !(loading | async), 'ss-form-control-invalid': isValid() === false && !(loading | async), 'ss-form-control-loading': (loading | async)}"
                [disabled]="disabled || (loading | async) || false" *ngIf="ngControl && ngControl.control; else standaloneInput" [ngModel]="value"
                (ngModelChange)="valueChange.emit($event)" [type]="showPassword ? 'text' : 'password'"
                class="ss-form-control">
            <ng-template #standaloneInput>
                <input
                    [ngClass]="{'ss-form-control-valid': isValid() === true && !(loading | async), 'ss-form-control-invalid': isValid() === false && !(loading | async), 'ss-form-control-loading': (loading | async)}"
                    [disabled]="disabled || (loading | async) || false" [type]="showPassword ? 'text' : 'password'" class="ss-form-control"
                    [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" (change)="valueChange.emit(value)">
            </ng-template>
            <button (click)="togglePasswordVisibility()" class="toggle-password-btn"><i
                    [ngClass]="showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i></button>
        </div>
    </div>
</ng-container>
<ng-template #withVirtualKeyboard>
    <div class="form-control-container">
        <div class="input-wrapper">
            <input [ngClass]="{'ss-form-control-valid': isValid() === true && !(loading | async), 'ss-form-control-invalid': isValid() === false && !(loading | async), 'ss-form-control-loading': (loading | async)}"
                [disabled]="disabled || (loading | async) || false" *ngIf="ngControl && ngControl.control; else standaloneInput" [ngModel]="value"
                (ngModelChange)="valueChange.emit($event)" [type]="showPassword ? 'text' : 'password'"
                class="ss-form-control"
                virtualKeyboard
                >
            <ng-template #standaloneInput>
                <input
                    [ngClass]="{'ss-form-control-valid': isValid() === true && !(loading | async), 'ss-form-control-invalid': isValid() === false && !(loading | async), 'ss-form-control-loading': (loading | async)}"
                    [disabled]="disabled || (loading | async) || false" [type]="showPassword ? 'text' : 'password'" class="ss-form-control"
                    [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" (change)="valueChange.emit(value)"
                    virtualKeyboard
                    >
            </ng-template>
            <button (click)="togglePasswordVisibility()" class="toggle-password-btn"><i
                    [ngClass]="showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i></button>
        </div>
    </div>
</ng-template>