.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}