.ss-op-10{
    opacity: 1;
}

.ss-op-9{
    opacity: 0.9;
}

.ss-op-8{
    opacity: 0.8;
}

.ss-op-7{
    opacity: 0.7;
}

.ss-op-6{
    opacity: 0.6;
}

.ss-op-5{
    opacity: 0.5;
}

.ss-op-4{
    opacity: 0.4;
}

.ss-op-3{
    opacity: 0.3;
}

.ss-op-2{
    opacity: 0.2;
}

.ss-op-1{
    opacity: 0.1;
}