.w-100{
    width: 100%;
    box-sizing: border-box;
}

.w-75{
    width: 75%;
    box-sizing: border-box;
}

.w-50{
    width: 50%;
    box-sizing: border-box;
}

.w-25{
    width: 25%;
    box-sizing: border-box;
}